/* ---------------------------------------- */
/* ==            SUMMARY           		      */
/*---------------------------------------- */

/* L25		- 1 - Color codes				    */
/* L43		- 2 - Définition Polices    */
/* L59		- 3 - Éléments Principaux   */
/* L71		- 4	- Class 				      	*/
/* L160		- 5 - Header    				    */
/* L180		- 6 - Section Slider		    */
/* L281		- 7 - Section Part-Infos    */
/* L309		- 8 - Section Map           */
/* L376		- 9 - Footer        			  */
/* L409		- 10 - Media Queries 1			*/
/* L464 	- 11 - Media Queries 2		  */
/* L481 	- 12 - Media Queries 3 			*/
/* L498 	- 13 - Media Queries 4 			*/
/* L601 	- 13 - Media Queries 5 			*/
/* L610 	- 13 - Media Queries 6 			*/
/* --------------------------------------*/
/* ==              BASE                  */
/*-------------------------------------- */

/*---------------------------------------*/
/*==			      COLOR CODES	HEX			     */
/*---------------------------------------*/
/* 	Texte = 		
    Black             #000000
    White             #FFFFFF
    Casal(green)      #2C655A
    Tulipier(yellow)  #E7B23E
    Toscane(red)      #BC4E2A
      

	  Background =
    
    White	            #FFFFFF
    Casal(green)      #2C655A
    Tulipier(yellow)  #E7B23E
    Toscane(red)      #BC4E2A

/* -------------------------------------- */
/* == 		  DÉFINITIONS DES POLICES		   	*/
/*----------------------------------------*/

@font-face {
  font-family: 'Cookie Regular';
  src: url(../webfontkit/cookie/Cookie-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------- */
/* ==             VERSION                   */
/*              MOBILE FIRST                */
/*---------------------------------------- */

/* ---------------------------------------- */
/* == 		ÉLÉMENTS PRINCIPAUX			      	 */
/*---------------------------------------- */

/*              BODY                  */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cookie Regular', cursive;
}

/* ----------------------------------------*/
/* == 		         CLASS		         	     */
/*---------------------------------------- */
/* ==           Class Colors               */
.bck-tulipier {
  background-color: #E7B23E;
}

.bck-casal {
  background-color: #16a085;
}

.bck-toscane {
  background-color: #BC4E2A;
}

.color-tulipier {
  color: #E7B23E;
}

.color-casal {
  color: #16a085;
}

.color-toscane {
  color: #BC4E2A;
}

.color-white {
  color: white;
}

/* ==           Font-Size               */
.font-size40 {
  font-size: 40px;
}

.font-size34 {
  font-size: 34px;
}

.font-size24 {
  font-size: 24px;
}

.font-size20 {
  font-size: 20px;
}

.font-size18 {
  font-size: 18px;
}

.font-size16 {
  font-size: 16px;
}

.font-size12 {
  font-size: 12px;
}

/*==          GLOBAL                     */
.bold {
  font-weight: bold;
}

.width100 {
  width: 100%;
}

.margin-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.none {
  display: none;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.opacity0 {
  opacity: 0;
}


/* ---------------------------------------- */
/* ==             HEADER                   */
/*---------------------------------------- */
header {
  height: 100px;
}

#logo {
  width: 75px;
}

#logo img {
  height: auto;
}

#title {
  width: 95px;
}

/* ---------------------------------------- */
/* ==              SECTION Slider           */
/*---------------------------------------- */
.part-slider {
  height: 280px;
  background-image: url("../images/autumn-studio-partie1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.part-text {
  padding-top: 20px;
}

.part-text p {
  width: 220px;
  border-width: 5px 5px;
  border-radius: 50%;
  padding: 10px 10px;
}

/* ==         SLIDER          */

#slider {
  height: 130px;
  padding-top: 20px;
  width: 80%;
}

.slide-picture {
  opacity: 0;
  width: 100%;
  height: 150px;
}

.slide-active {
  opacity: 1;
}

.picture-slider {
  width: 65%;
  height: 115px;
  background-color: #16a085;
  border-radius: 15% 0% 0% 0%;
  margin: 0;
  display: flex;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  width: 90%;
  height: auto;
  margin: auto;
}

.text-slide {
  width: 35%;
  height: 115px;
  display: flex;
  border-radius: 0% 0% 15% 0%;
}

.text-slide p {
  margin: auto;
}

/* ==       Button-slider     */

.button-slider {
  justify-content: space-between;
  width: 80%;
}

#play i,
#previous i,
#next i,
#break i {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

#play,
#previous,
#next,
#break {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #16a085;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  transition-duration: 0.4s;
  box-shadow: 0 5px 15px #193047;
  border-radius: 35px;
}

#play :hover,
#previous:hover,
#next:hover,
#break:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #E7B23E;
}

#play::after,
#previous::after,
#next::after,
#break::after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.8s
}

#play:active:after,
#previous:active:after,
#next:active:after,
#break:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#play:active:focus,
#previous:active:focus,
#next:active:focus,
#break:active:focus {
  outline: 0;
}

#previous {
  right: 200px;
}

#next {
  left: 200px;
}

#slider:hover #previous,
#slider:hover #next {
  opacity: 1;
}


/* ---------------------------------------- */
/* ==          Section Part-Infos          */
/*---------------------------------------- */
.part-infos {
  height: 250px;
  border: 3px solid #E7B23E;
}

.part-infos h2 {
  text-decoration: underline;
  margin: 10px;
}

.part-infos ul {
  width: 66%;

}

.part-infos ul li {
  height: 45px;
  align-items: center;
  justify-content: center;
}

.part-infos li img {
  width: 40px;
  height: auto;
}

/* ---------------------------------------- */
/* ==              Section MAP             */
/*---------------------------------------- */

/*== Part-Map   */
.part-map {
  height: 500px;
}

/*==    Map     */
#mapid {
  height: 400px;
  width: 80%;
  top: 50px;
}

/* ---------------------------------------- */
/* ==              FORMULAIRE              */
/*---------------------------------------- */
#details-station p {
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#name-station,
#address,
#statut,
#dispo-bikes,
#stands-bikes {
  margin-top: 0;
}

#form {
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 20px;
}

#submit {
  margin: auto;
  margin-top: 15px;
}

/* ---------------------------------------- */
/* ==                 CANVAS               */
/*---------------------------------------- */

#canvas-form {
  flex-direction: column;
}

#canvas-form h2 {
  width: 250px;
  margin-top: 20px;
}

#canvas {
  width: 250px;
  height: 150px;
  border: 1px solid black;
  margin-top: 0px;
}

#buttons-set-canvas {
  justify-content: space-around;
}

/*--BUTTON --*/
#button-form,
#button-canvas,
#retry,
#submit,
#reset-reservation {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 5px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 5px;
}

#button-form:hover,
#button-canvas:hover,
#retry:hover,
#submit:hover,
#reset-reservation:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

#button-form::after,
#button-canvas::after,
#retry::after,
#submit::after,
#reset-reservation::after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.8s
}

#button-form:active:after,
#button-canvas:active:after,
#retry:active:after,
#submit:active:after,
#reset-reservation:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#button-canvas:focus,
#button-canvas:focus,
#retry:focus,
#submit:focus,
#reset-reservation:focus {
  outline: 0;
}

/* ---------------------------------------- */
/* ==              TIMER                   */
/*---------------------------------------- */

#reset-reservation {
  width: 75px;
  margin: auto;
}

#timer p {
  font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------- */
/* ==              FOOTER                  */
/*---------------------------------------- */
footer {
  border: 3px solid #E7B23E;
  margin-top: 20px;
}

footer h2 {
  text-decoration: underline;
  margin-bottom: 5px;
}

footer ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}


/* ---------------------------------------- */
/* ==               MEDIAS                  */
/*                  QUERIES                 */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==              MEDIA 1                 */
/*---------------------------------------- */
@media screen and (min-width: 340px) {

  /**Slider */
  .part-slider {
    height: 300px;
  }

  #slider {
    padding-bottom: 20px;
  }

  .picture-slider {
    height: 130px;
  }

  .text-slide {
    height: 130px;
  }

  /**Infos Stations */
  .part-infos ul {
    width: 50%;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 2                  */
/*---------------------------------------- */
@media screen and (min-width: 425px) {


  /* ==              SECTION Slider           */

  .part-slider {
    height: 360px;
  }

  .picture-slider {
    height: 160px;
  }

  .text-slide {
    height: 160px;
    font-size: 20px;
  }

  .button-slider {
    padding-top: 40px;
  }

  #play i,
  #previous i,
  #next i,
  #break i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  #play,
  #previous,
  #next,
  #break {
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 3                 */
/*---------------------------------------- */
@media screen and (min-width: 575px) {

  .part-text p {
    font-size: 30px;
  }

  .part-slider {
    height: 450px;
  }

  #slider {
    height: 200px;
    padding-bottom: 22px;
  }

  .slide-picture {
    height: 200px;
  }

  .picture-slider {
    height: 200px;
  }

  .text-slide {
    height: 200px;
  }

  .part-infos ul {
    width: 50%;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 4                 */
/*---------------------------------------- */
/* @media screen and (min-width: 695px) {

  .part-slider {
    height: 500px;
  }

  #slider {
    height: 200px;
    padding-bottom: 22px;
  }

  .slide-picture {
    height: 200px;
  }

  .picture-slider {
    height: 240px;
  }

  .text-slide {
    height: 215px;
  }

  .part-infos ul {
    width: 30%;
  }
} */

/* ---------------------------------------- */
/* ==              MEDIA 5                 */
/*---------------------------------------- */
@media screen and (min-width: 768px) {

  /* ==             HEADER                   */
  header {
    height: 150px;
  }

  #logo {
    width: 115px;
  }

  #logo img {
    height: auto;
  }

  #title {
    width: 120px;
    font-size: 28px;
  }

  /* ==              SECTION Slider           */

  .part-text p {
    width: 250px;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
  }


  .part-slider {
    height: 520px;
  }

  .picture-slider {
    height: 260px;
  }

  .text-slide {
    height: 260px;
    font-size: 36px;
  }

  .button-slider {
    padding-top: 80px;
  }

  /* ==          Section Part-Infos          */
  .part-infos {
    height: 260px;
  }

  .part-infos h2 {
    font-size: 35px;
  }

  .part-infos ul li p {
    font-size: 20px;
  }


  /*== form */
  #content-map-form-canvas {
    display: flex;
    border-right: 3px solid #E7B23E;
  }

  #part-form {
    display: none;
    margin: auto;
    width: 40%;
    text-align: center;
  }

  /*==   Canvas     */

  #canvas-form {
    width: 40%;
    margin: auto;
    text-align: center;
    flex-direction: column;
  }

  #buttons-set-canvas {
    justify-content: center;
  }

  /*==   Timer     */
  #timer {
    margin-bottom: 10px;
  }

  /* ==              FOOTER                  */
  footer {
    height: 180px;
    margin-top: 0;
  }

  footer h2 {
    height: 30px;
    font-size: 26px;
  }

  ul {
    height: 65px;
  }

  li {
    height: 25px;
  }

  li a {
    font-size: 24px;
  }

  footer p {
    font-size: 20px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 6                 */
/*---------------------------------------- */
@media screen and (min-width: 900px) {

  /**Slider**/
  .part-slider {
    height: 630px;
  }

  .part-text p {
    margin-top: 20px;
  }

  #slider {
    height: 200px;
  }

  .slide-picture {
    height: 200px;
  }

  .picture-slider {
    height: 300px;
  }

  .text-slide {
    height: 300px;
  }

  .button-slider {
    padding-top: 130px;
  }

  /** Part Info Station **/
  .part-infos {
    height: 360px;
  }

  .part-infos h2 {
    font-size: 40px;
  }

  .part-infos ul {
    width: 50%;
  }

  .part-infos ul li {
    height: 65px;
  }

  .part-infos ul li img {
    width: 50px;
    height: auto;
  }

  .part-infos ul li p {
    font-size: 30px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA                  */
/*---------------------------------------- */
@media screen and (min-width: 1024px) {
  .picture-slider {
    height: 330px;
  }

  .text-slide {
    height: 330px;
    font-size: 42px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 8                 */
/*---------------------------------------- */
@media screen and (min-width: 1150px) {
  .part-slider {
    height: 800px;
  }

  .part-text p {
    font-size: 40px;
    width: 360px;
  }

  .picture-slider {
    height: 370px;
  }

  .text-slide {
    font-size: 50px;
    height: 370px;
  }

  .button-slider {
    padding-top: 180px;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    width: 80%;
  }

  #play i,
  #previous i,
  #next i,
  #break i {
    width: 70px;
    height: 70px;
    border-radius: 70px;
  }

  #play,
  #previous,
  #next,
  #break {
    font-size: 70px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
  }

  .part-infos ul {
    width: 29%;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 9                 */
/*---------------------------------------- */
@media screen and (min-width: 1300px) {
  .picture-slider {
    height: 418px;
  }

  .text-slide {
    height: 418px;
    font-size: 50px;
  }

  .button-slider {
    padding-top: 260px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 10                 */
/*---------------------------------------- */
@media screen and (min-width: 1900px) {

  .part-slider {
    height: 1048px;
  }

  .picture-slider {
    height: 625px;
  }

  .text-slide {
    height: 625px;
    font-size: 90px;
  }

  .button-slider {
    padding-top: 470px;
  }

}